.user {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    column-gap: 2em;
    img{
      width:60%;
    }
  }