@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.jumbotron {
  display: grid;
  grid-template-columns: 1fr 1.40fr;
  margin: 25px;

  .jumbotron--photo {
    grid-area: 1 / 1 / 2 / 2;
  
    img {
      position: absolute;
      left: -100px;
      width: 55%;
      height: 90vh;
      object-fit: cover;
    }
  
    .bye-bye {
      position: absolute;
      top: 15em;
      left: 25em;
      color: $White;
      margin-bottom: 10px;
  
      b {
        background-color: $Orange;
        border-radius: 8px;
        padding: 10px;
      }
    }
  }
  
  .jumbotron--text {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 35px;
    margin-right: 35px;
  
    p {
      padding: 3em;
      letter-spacing: 0.2em;
      line-height: 1.375;
      font-size: 25px;
    }
  
    .strong {
      padding: 3em;
      margin: 0;
    }
  }
}

